body {
    background-color: var(--background-color);
    min-width: 300px;
}

img {
    width: 100%;
    height: auto;
}

table {
    margin-left: 0;
    margin-right: 0;
}

.boardDisplay {
    margin: auto;
    max-width: 75%;
}

.promote {
    margin: 1em;
    flex: 1;
}

.modButton {
    margin: 1em;
    flex: 1;
}

#featureLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 11vh;
}

#saveBoard, #analyzeBoard {
    float: none;
    width: 35%;
    margin: auto;
}

#mainControls {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

#promote {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    min-width: 390px;
    max-width: 80%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    min-width: 300px;
    max-width: 70%;
}

#saveBoardMenu, #analyzeBoardMenu {
    text-align: center;
    top: 15vh;
}