:root {
    --lightSquare: #C9E7FA;
    --darkSquare: #329BFA;
    --selectSquare: #280BE3;
    --movePiece: #00BCFA;

    --buttonBorder: #329BFA;
    --buttonBackground: #C9E7FA;
    --text-color: black;

    --menuBackground: #C9E7FA;
}

body {
    margin: 0px;
}

table,
td {
    aspect-ratio: 1/1;
    border: solid black;
    border-width: 0.5vh 0.5vh 0.5vh 0.5vh;
    border-collapse: collapse;
}

table {
    float: left;
    margin-left: 5%;
    max-height: 80vh;
    max-width: 80vw;
    margin-bottom: 95px;
    margin-top: 10px;
}






td {
    height: 10%;
    width: 10%;
    padding: 0px;
    background-color: var(--lightSquare);
}



#buttons {
    width: 100%;
}

button {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}


img {
    width: 80%;
    height: 80%;
}

.ds {
    background-color: var(--darkSquare);
}


#analysisDescription {
    float: right;
    max-height: 80vh;
    margin-top: 8vh;
    margin-right: 5%;
    margin-left: 5%;
    width: calc(84vw - 80vh - 10px);
    min-width: 235px;
    border: #280BE3 solid 3px;
    border-radius: 5px;
}

#savedBoardDescriptionTitle {
    overflow-wrap: break-word;
    min-height: 80px;
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 10px;
}

#savedBoardDescriptionText {
    font-size: 1em !important;
    min-height: 53vh;
    max-height: 53vh;
    margin-bottom: 20px;
    padding-left: 5%;
    min-width: 90%;
    max-width: 90%;
    overflow-y: auto;
    border: none;
    resize: none;
}


@media screen and (max-width: calc(80vh + 15vw + 235px)) {

    table {
        float: left;
        margin-left: calc((100vw - 80vh) / 2);
        max-height: 80vh;
        max-width: 80vw;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    #analysisDescription {
        width: 70vw;
        max-height: 30vh;
        margin-bottom: 95px;
        margin-left: 15%;
        margin-right: 15%;
    }

    #savedBoardDescriptionTitle {
        min-height: 0px;
    }

    #savedBoardDescriptionText {
        font-size: 1em !important;
        min-height: 20vh;
        max-height: 20vh;
        margin-bottom: 10px;
        padding-left: 5%;
        min-width: 90%;
        max-width: 90%;
        overflow-y: auto;
        resize: none;
    }

}

@media screen and (max-aspect-ratio: 1/1) {
    table {
        margin-left: 10%;
    }

}

@media screen and (max-width: 590px) {
    #analysisDescription {
        margin-bottom: 115px;
    }
}