:root {
    --lightSquare: #C9E7FA;
    --darkSquare: #329BFA;
    --selectSquare: #280BE3;
    --movePiece: #00BCFA;

    --buttonBorder: #329BFA;
    --buttonBackground: #C9E7FA;
    --text-color: black;

    --menuBackground: #C9E7FA;
}

body {
    margin: 0px;
}

table,
td {
    aspect-ratio: 1/1;
    border: solid black;
    border-width: 0.5vh 0.5vh 0.5vh 0.5vh;
    border-collapse: collapse;
}

table {
    float: left;
    margin-left: 5%;
    max-height: 80vh;
    max-width: 80vw;
    margin-bottom: 95px;
    margin-top: 10px;
}

#analysisDescription {
    float: right;
    max-height: 80vh;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    width: calc(84vw - 80vh - 10px);
    border: #280BE3 solid 3px;
    border-radius: 5px;

}


@media screen and (max-width: 590px) {
    table {
        margin-bottom: 115px;
    }
}



td {
    height: 10%;
    width: 10%;
    padding: 0px;
    background-color: var(--lightSquare);
}



#buttons {
    width: 100%;
}

button {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}


img {
    width: 80%;
    height: 80%;
}

.ds {
    background-color: var(--darkSquare);
}