/* Color Palate */
:root {
    --lightSquare: #C9E7FA;
    --buttonBackground: #C9E7FA;
    --menuBackground: #C9E7FA;
    --background: #C9E7FA;

    --darkSquare: #329BFA;
    --buttonBorder: #329BFA;
    --border: #329BFA;

    --selectSquare: #280BE3;
    --contrast: #280BE3;

    --movePiece: #00BCFA;
    --highlight: #00BCFA;

    --text-color: black;
}

/**/

table {
    max-width: 100%;
    max-height: none;
    margin: 0;
}

#mainControls {
    margin: 1em auto;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80vw;
}

.boardDisplay {
    max-width: 60%;
    margin: auto;
}

.promote {
    width: 70%;
    margin: 0.2em auto;
}

#promote {
    flex-direction: column;
    min-width: auto;
    max-width: 30%;
}

.modButton {
    width: 59%;
    margin: 0.2em 0;
}

#buttons {
    flex-direction: column;
    min-width: auto;
    max-width: 24%;
    margin-left: 0;
}