/* Color Palate */
:root {
    --lightSquare: #C9E7FA;
    --buttonBackground: #C9E7FA;
    --menuBackground: #C9E7FA;
    --background: #C9E7FA;

    --darkSquare: #329BFA;
    --buttonBorder: #329BFA;
    --border: #329BFA;

    --selectSquare: #280BE3;
    --contrast: #280BE3;

    --movePiece: #00BCFA;
    --highlight: #00BCFA;

    --text-color: black;
}

/**/



/* Layout CSS */
body {
    background-color: var(--background-color);
    min-width: 300px;
}

img {
    width: 100%;
    height: auto;
}

table {
    margin-left: 0;
    margin-right: 0;
}

.boardDisplay {
    margin: auto;
    max-width: 75%;
}

#mainControls {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

/**/


/* Feature Buttons CSS */
.promote {
    margin: 1em;
    flex: 1;
}

.modButton {
    margin: 1em;
    flex: 1;
}

.featureButton h3 {
    font-size: 1.75rem;
}

#featureLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 11vh;
}

#saveBoard,
#analyzeBoard {
    float: none;
    width: 35%;
    margin: auto;
}

/**/



/* Board Buttons CSS */

#promote {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    min-width: 390px;
    max-width: 80%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    min-width: 300px;
    max-width: 70%;
}

#saveBoardMenu,
#analyzeBoardMenu,
#addPieceMenu {
    text-align: center;
    top: 15vh;
}

/**/