@font-face {
    font-family: useFont;
    src: url(Urbanist-VariableFont_wght.ttf);
}

main {
    font-family: useFont;
    margin-bottom: 60px;
}

@media screen and (max-width: 590px) {
    main {
        margin-bottom: 80px;
    }
}