/* Font CSS */
@font-face {
    font-family: useFont;
    src: url(Urbanist-VariableFont_wght.ttf);
}

/**/



/* Footer Margins CSS */
main {
    margin-bottom: 85px;
}

@media screen and (max-width: 590px) {
    main {
        margin-bottom: 105px;
    }
}

/**/