 /* Color Palate */
 :root {
     --lightSquare: #C9E7FA;
     --buttonBackground: #C9E7FA;
     --menuBackground: #C9E7FA;
     --background: #C9E7FA;

     --darkSquare: #329BFA;
     --buttonBorder: #329BFA;
     --border: #329BFA;

     --selectSquare: #280BE3;
     --contrast: #280BE3;

     --movePiece: #00BCFA;
     --highlight: #00BCFA;

     --text-color: black;
 }

 /**/

 /* Layout CSS */
 header {
     background-color: #C9E7FA;
 }


 #break {
     height: 1rem;
     background-color: white;
 }

 .nav-link {
     font-weight: bold;
 }

 .navbar-brand {
     margin-right: 0px;
 }

 /**/


 /* Easter Egg CSS */
 #firstStep,
 #secondStep,
 #thirdStep,
 #notAStep {
     background-color: transparent;
     border: none;
     outline: none;
     padding: 0px;
 }

 #firstStep img {
     width: 64px;
     height: 64px;
     transition-property: filter;
     transition-duration: 0.5s;
 }

 .logoInvert {
     filter: invert(1);
 }

 #secondStep.deepBlue a {
     color: var(--contrast);
     text-shadow: 1px 1px 0px var(--contrast),
         -1px -1px 0px var(--contrast),
         1px -1px 0px var(--contrast),
         -1px 1px 0px var(--contrast);
 }

 #thirdStep {
     margin-right: 1rem;
 }

 /**/


 /* Logo CSS */
 #chessMindLogo {
     display: flex;
     flex-direction: row;
 }

 #chessMindLogo button a {
     font-weight: bold;
     font-size: large;
     transition-property: text-shadow, color;
     transition-duration: 1s;
 }

 /**/



 /* Icons CSS */
 .material-icons {
     font-size: 2em;
 }

 /**/




 /* Nav Collapsed CSS */
 @media screen and (max-width: 990px) {
     #image {
         margin-top: 10px;
     }

     .text-link {
         margin-top: 9px;
     }
 }

 /**/



 /** Nav Compressed CSS */
 @media screen and (max-width: 767px) {

     #image {
         margin-top: 0px;
     }

     .text-link {
         margin-top: 0px;
     }
 }

 /**/