/* Color Palate */
:root {
    --lightSquare: #C9E7FA;
    --buttonBackground: #C9E7FA;
    --menuBackground: #C9E7FA;
    --background: #C9E7FA;

    --darkSquare: #329BFA;
    --buttonBorder: #329BFA;
    --border: #329BFA;

    --selectSquare: #280BE3;
    --contrast: #280BE3;

    --movePiece: #00BCFA;
    --highlight: #00BCFA;

    --text-color: black;
}

/**/



/* Page Formatting */
#form {
    padding-top: calc((100vh - 720px) / 2);
}

#title {
    margin-bottom: 30px;
}

/**/



/** Form Buttons */
#resetButton {
    margin-top: 10px !important;
}

#resetArea {
    margin-top: 20px !important;
}

#editButtons {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

/**/



/* User Field CSS */
#field1,
#field2,
#field3 {
    margin-bottom: 20px;
}

#nameInput,
#emailInput,
#ratingInput {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C9E7FA;
    border: #280BE3 solid 3px;
    border-radius: 5px;
}

/**/