    :root {
        --background: #C9E7FA;
        --border: #329BFA;
        --contrast: #280BE3;
        --highlight: #00BCFA;
        --text-color: black;
    }

    main {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 590px) {
        main {
            margin-bottom: 80px;
        }
    }

    .container {
        padding: 0px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    #savedBoardMenu {
        display: none;
    }

    #searchArea {
        margin-top: 10px;
        float: left;
        width: 100%;
        border-radius: 5px;
        border: var(--border) solid 5px;
        background-color: var(--background);
        margin-bottom: 20px;
    }

    #searchInput {
        margin: 5px;
        float: left;
        width: calc(100% - 140px);
        color: var(--contrast);
        background-color: var(--background);
        border-color: var(--border);
        border-radius: 3px;
    }

    #searchImage {
        margin-left: 5px;
        float: left;
        font-size: 36px;
    }

    #searchButton {
        float: right;
        padding: 0px;
        margin: 5px;
        height: 38px;
        width: 110px;
        color: var(--text-color);
        background-color: var(--background);
        border-color: var(--border);
        border-radius: 3px;
    }

    #searchLabel {
        float: right;
        margin-right: 10px;
        margin-top: 6px;
    }

    #search_image {
        font-size: 36px;
    }

    .card {
        width: 44%;
        height: 234.25px;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 35px;
    }

    .openCard {
        width: 100%;
        height: 234.25px;
        color: var(--text-color);
        background-color: var(--background);
        border-color: var(--border);
        border-radius: 3px;
    }

    /* .card-body {
        margin: auto;
    } */

    ul {
        text-align: left;
        list-style-type: none;
        margin-bottom: 0px;
        padding-left: 5%;
    }

    li {
        margin-top: 5px;
        max-height: 48px;
        overflow-y: hidden;
    }

    .description {
        max-height: 72.75px;
        overflow-y: hidden;
    }

    @media (max-width: 600px) {

        /* Adjust the maximum width to match your desired mobile breakpoint */
        #searchLabel {
            display: none;
        }

        #searchButton{
            width: 15%;

        }

        #searchInput{

            width: 75%;
        }

        /* .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 15px;
        } */
    }




.modal-body p {
    word-wrap: break-word;
}