#firstStep img {
    transition-property: filter;
    transition-duration: 0.5s;
}

.logoInvert {
    filter: invert(1);
}

#secondStep.deepBlue a {
    color: #0d6efd;
    text-shadow: 1px 1px 0px darkblue,
    -1px -1px 0px darkblue,
    1px -1px 0px darkblue,
    -1px 1px 0px darkblue;
}

#firstStep,
#secondStep,
#thirdStep,
#notAStep {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px;
}

#thirdStep {
    margin-right: 1rem;
}

#chessMindLogo {
    display: flex;
    flex-direction: row;
}

#chessMindLogo button a {
    transition-property: background-color, color;
    transition-duration: 1s;
}

.navbar-brand {
    margin-right: 0px;
}